<h1>Collect data with purpose</h1>
<h2>Curious how Citymission works?</h2>
<%= link_to 'Learn more >', hello_path,  :class =>'tiny radius button success' %>
<p><strong>With the help of 365 donors, CUSP published groundbreaking research.</strong></p>
