<% provide(:title, "What is Citymission?") %>

<div class="full-image-wrap">
  <div class="row">
    <div class="large-12 column">
      <%= render 'layouts/hero/home_content' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <h1>7 things to know about Citymission</h1>
  </div>
</div>
