<% provide(:title, "Start a project!") %>

<div class="video new-project">
  <div class="row text-center">
    <h2 class="">
      “A way for citizens<br>
    to participate in their community”
    </h2>

    <%= link_to missions_guidelines_path, :class=>"cta button large radius" do %>
      Start a project
    <% end %>
  </div>
  <div class="black-link">
    <div class="row text-center">
      <h3><small>Learn more about our project categories:</small></h3>
      <a href="" class="button radius small">Anthropology</a>
      <a href="" class="button radius small">Art</a>
      <a href="" class="button radius small">Community</a>
      <a href="" class="button radius small">Economics</a>
      <a href="" class="button radius small">Environment</a><br>
      <a href="" class="button radius small">Humanities</a>
      <a href="" class="button radius small">Geography</a>
      <a href="" class="button radius small">Language</a>
      <a href="" class="button radius small">Social</a>
    </div>
  </div>
</div>
