<%= render 'pages/mission/progress_signup' %>
<div class="grey-top">
  <div class="row text-center">
    <h1>Citymission is a research platform for data driven projects.</h1>
    <p>These are our guidelines:</p>
  </div>
</div>
<div class="row">
  <div class="large-8 column">

  </div>
  <div class="large-4 column"></div>
</div>
<div class="row">
  <div class="large-6 column"></div>
  <div class="large-6 column"></div>
  <a href="" class="button">Start your project</a>
</div>
