<div class="progress-signup">
  <div class="row">
    <ul class="inline-list">
      <li>Guidelines</li>
      <li>Basics</li>
      <li>Rewards</li>
      <li>Story</li>
      <li>About you</li>
      <li>Account</li>
      <li>Review</li>
    </ul>
    <ul class="inline-list">
      <li>
        Preview
      </li>
    </ul>
  </div>
</div>
