<div class="row highlight">
  <div class="large-9 columns">
    <h3>Staff Pick: Environment
    <a href=""><p class="link-crumbs">See all <strong>127</strong> Environment projects</p></a>
    </h3>
    <div class="large-6 columns">
      <div class="image-wrapper">
        <%= image_tag 'new-in-use_1024x1024.jpg' %>
      </div>
    </div>
    <div class="large-6 columns">
      <a href=""><h4>Spectrometry: Collect data on our laundromats</h4></a>
      <p>by Robin Kraft in San Francisco, USA</p>
      <p>Uncover the truth behind regularly traffiked areas. Laundromats claim to be "chemical free", but traces can reveal undeclared chemicals.</p>
      <%= render 'layouts/missions/progressPoint', {:completedPercent=>"23", :pointsCollected=> "121", :daysRemaining=>"14"} %>
    </div>
  </div>
  <div class="large-3 columns">
    <%= render 'layouts/missions/highlightnav' %>
  </div>
</div>
