<ul class="side-nav">
  <li><a href="#">Anthropology</a></li>
  <li><a href="#">Art</a></li>
  <li><a href="#">Biology</a></li>
  <li><a href="#">Economics</a></li>
  <li class="active"><a href="#">Environment</a></li>
  <li><a href="#">Humanities</a></li>
  <li><a href="#">Geography</a></li>
  <li><a href="#">Language</a></li>
  <li><a href="#">Social</a></li>
</ul>
