<li class="mission-list-item">
  <img src="" alt="">
  <span>
    <h3>Mission name</h3>
    <p>by Person Name</p>
    <p>Description</p>
    <p>Location, GEO</p>
    <%= render 'layouts/missions/progressPointMin', {:completedPercent=>"23", :pointsCollected=> "121", :daysRemaining=>"14"} %>
  </span>
</li>
