<div class="nice round progress success large-12">
  <span class="meter" style="width:<%= completedPercent %>%;"></span>
</div>
<div class="large-12">
  <ul class="inline-list">
    <li>
      <strong><%= completedPercent %>%</strong>
      <small>complete</small>
    </li>
    <li>
      <strong><%= pointsCollected %></strong>
      <small  >collected</small>
    </li>
    <li>
      <strong><%= daysRemaining %></strong>
      <small>days</small>
    </li>
  </ul>
</div>
