<div class="row">
  <div class="bitly-copy column ">
    <a href="" class="button email">email</a>
    <a href="" class="button share">share</a>
    <div class="column nopad">
      <div class="row collapse">
        <div class="small-9 columns copy-link">
          <%= link_to bitly_shorten, bitly_shorten, :class=>"button" %>
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix">Copy</a>
        </div>
      </div>
    </div>
  </div>
</div>
