<div class="days-associated">

  <h5>0</h5>
  <strong>participants</strong>

  <h5>0</h5>
  <strong>data points of <%= @project.participationGoal %> goal</strong>

  <h5><%= daysRemaining %></h5>
  <strong>days to go</strong>
</div>
