$primary-color: rgb(89, 123, 199);
$secondary-color: rgb(24, 231, 189);
$border-color: rgb(208, 213, 203);
$link-grey: #999;
$success-color: #43AC6A;
$grey-background: rgb(245, 245, 245);
$white-background: #fff;
