<li>
  <span class="content"><%= mission.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(mission.created_at) %> ago.
  </span>
  <% if current_user?(mission.user) %>
    <%= link_to "delete", mission, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: mission.content %>
  <% end %>
</li>
