<div>
  <div class="row">
    <div class="panel callout">
      <h3>Where projects come from</h3>
      <p>Each and every Kickstarter project is the independent creation of someone like you. <br>
        Want to know more about how projects happen, or start your own? <a href="">Learn more</a></p>
    </div>
  </div>
</div>
